{% extends 'home.html' %}
{% load static %}
{% block title %} Column Comparison Results {% endblock title %}
{% block style %}
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 20px;
    }
    h2 {
        color: #333;
    }
    h3 {
        color: #555;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f4f4f4;
    }
    td {
        background-color: #fafafa;
    }
{% endblock style %}
{% block content %}
<div class="container mt-3 mb-2">
<h2>Column Comparison Results</h2>
            
    {% if differences %}
        <h3>Differences Between Files</h3>
        <table>
            <thead>
                <tr>
                    {% with differences.0 as first_row %}
                        {% for column in first_row %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    {% endwith %}
                </tr>
            </thead>
            <tbody>
                {% for dictionary in differences %}
                    <tr>
                        {% for key, value in dictionary.items %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No differences found between the files.</p>
    {% endif %}

</div>
{% endblock content %}
{% block script %}{% endblock script %}
